@charset "UTF-8";
@import "reset.css";
@import "cores.css";

@font-face {
    font-family: jai;
    src: url(fonte/jai.TTF);
}
body{
    color: var(--Pl atina);
    font-family: JAI;
    background-color: var(--CorPreta);
}