@charset "UTF-8";
@import "reset.css";
@import "cores.css";

@font-face {
    font-family: jai;
    src: url(fonte/JAi_____.TTF);
}
body{
    color: var(--Platina);
    font-family: JAI;
    background-color: var(--CorPreta);
}